{:paths ["src" "resources"]
 :deps
 {org.clojure/tools.cli {:mvn/version "0.3.5"}
  org.clojure/tools.nrepl {:mvn/version "0.2.12"}
  org.clojure/clojurescript {:mvn/version "1.9.946"}
  com.cemerick/piggieback {:mvn/version "0.2.2"}
  figwheel-sidecar {:mvn/version "0.5.15"}
  hiccup {:mvn/version "1.0.5"}
  reagent {:mvn/version "0.8.0"}
  cljfmt {:mvn/version "0.5.7"}}}
